<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-xs-0 d-none d-sm-block left-background">

    </div>

    <div class="col-xl-6  col-xs-12 right-background" style="padding: 5% 10% 20% 10% !important;">
      <div class="card bg-transparent border-0 mb-0">
        <div class="card-header bg-transparent">
          <div class="logo-box mb--1 text-center">
            <h3 class="h2 text-default mt-3 mb-0">Register account</h3>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form [formGroup]="registerForm">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <input class="form-control" placeholder="Email" type="email" formControlName="username" />
              </div>
              <ng-container *ngFor="let message of registerFormMessages.username">
                <div *ngIf="
                      registerForm.get('username').hasError(message.type) &&
                      (registerForm.get('username').dirty ||
                        registerForm.get('username').touched)">
                  <p class="error-message">
                    <span>{{ message.message }}</span>
                  </p>
                </div>
              </ng-container>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <input class="form-control" placeholder="Password" type="password" />
              </div>
              <ng-container *ngFor="let message of registerFormMessages.password1">
                <div *ngIf="
                      registerForm.get('password1').hasError(message.type) &&
                      (registerForm.get('password1').dirty ||
                        registerForm.get('password1').touched)">
                  <p class="error-message">
                    <span>{{ message.message }}</span>
                  </p>
                </div>
              </ng-container>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative">

                <input class="form-control" placeholder="Confirm password" type="password" />
              </div>
              <ng-container *ngFor="let message of registerFormMessages.password2">
                <div *ngIf="
                      registerForm.get('password2').hasError(message.type) &&
                      (registerForm.get('password2').dirty ||
                        registerForm.get('password2').touched)">
                  <p class="error-message">
                    <span>{{ message.message }}</span>
                  </p>
                </div>
              </ng-container>
            </div>

            <div class="text-muted font-italic">
              <small>password strength:
                <span class="text-success font-weight-700">strong</span>
              </small>
            </div>

            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox" />
                  <label class="custom-control-label" for="customCheckRegister">
                    <span>I agree with the
                      <a href="javascript:void(0)">Privacy Policy</a>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </form>

          <div class="text-center">
            <button type="button" class="btn mt-4 btn-block" (click)="createAccount()">
              Create account
            </button>
            <button type="button" class="btn btn-icon  btn-block my-2" (click)="navigatePage('login')">
              <span class="btn-inner--icon"><i class="fas fa-angle-left"></i></span>
              <span class="btn-inner--text">Login</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>