<div class="header container-header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-home text-white"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--8">
    <div class=" row">
        <div class=" col-xl-3 col-md-6">
            <div class=" card bg-gradient-primary border-0">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col">
                            <h5 class=" card-title text-uppercase text-muted mb-0 text-white">
                                SAA Audit
                            </h5>

                            <span class=" h2 font-weight-bold mb-0 text-white"> 8/24 </span>

                            <div class=" progress progress-xs mt-3 mb-0">
                                <progressbar type="success" [value]="30"> </progressbar>
                            </div>
                        </div>

                        <div class=" col-auto">
                            <div dropdown class="dropdown no-caret">
                                <button id="button-basic" dropdownToggle type="button"
                                    class="btn btn-sm btn-neutral mr-0 dropdown-toggle" aria-controls="dropdown-basic">
                                    <i class=" fas fa-ellipsis-h"> </i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Tindakan
                                    </a>

                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Tindakan lain
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class=" mt-3 mb-0 text-sm">
                        <a class=" text-nowrap text-white font-weight-600" href="javascript:void(0)">
                            Lihat Butiran
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class=" col-xl-3 col-md-6">
            <div class=" card bg-gradient-info border-0">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col">
                            <h5 class=" card-title text-uppercase text-muted mb-0 text-white">
                                Naziran
                            </h5>

                            <span class=" h2 font-weight-bold mb-0 text-white">
                                123/267
                            </span>

                            <div class=" progress progress-xs mt-3 mb-0">
                                <progressbar type="success" [value]="50"> </progressbar>
                            </div>
                        </div>

                        <div class=" col-auto">
                            <div dropdown class="dropdown no-caret">
                                <button id="button-basic" dropdownToggle type="button"
                                    class="btn btn-sm btn-neutral mr-0 dropdown-toggle" aria-controls="dropdown-basic">
                                    <i class=" fas fa-ellipsis-h"> </i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Tindakan
                                    </a>

                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Tindakan lain
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class=" mt-3 mb-0 text-sm">
                        <a class=" text-nowrap text-white font-weight-600" href="javascript:void(0)">
                            Lihat Butiran
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class=" col-xl-3 col-md-6">
            <div class=" card bg-gradient-danger border-0">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col">
                            <h5 class=" card-title text-uppercase text-muted mb-0 text-white">
                                Pengauditan
                            </h5>

                            <span class=" h2 font-weight-bold mb-0 text-white">
                                200/300
                            </span>

                            <div class=" progress progress-xs mt-3 mb-0">
                                <progressbar type="success" [value]="80"> </progressbar>
                            </div>
                        </div>

                        <div class=" col-auto">
                            <div dropdown class="dropdown no-caret">
                                <button id="button-basic" dropdownToggle type="button"
                                    class="btn btn-sm btn-neutral mr-0 dropdown-toggle" aria-controls="dropdown-basic">
                                    <i class=" fas fa-ellipsis-h"> </i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Tindakan
                                    </a>

                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Tindakan lain
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class=" mt-3 mb-0 text-sm">
                        <a class=" text-nowrap text-white font-weight-600" href="javascript:void(0)">
                            Lihat Butiran
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class=" col-xl-3 col-md-6">
            <div class=" card bg-gradient-default border-0">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col">
                            <h5 class=" card-title text-uppercase text-muted mb-0 text-white">
                                Maklum Balas
                            </h5>

                            <span class=" h2 font-weight-bold mb-0 text-white"> 50/62 </span>

                            <div class=" progress progress-xs mt-3 mb-0">
                                <progressbar type="success" [value]="90"> </progressbar>
                            </div>
                        </div>

                        <div class=" col-auto">
                            <div dropdown class="dropdown no-caret">
                                <button id="button-basic" dropdownToggle type="button"
                                    class="btn btn-sm btn-neutral mr-0 dropdown-toggle" aria-controls="dropdown-basic">
                                    <i class=" fas fa-ellipsis-h"> </i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Tindakan
                                    </a>

                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Tindakan lain
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class=" mt-3 mb-0 text-sm">
                        <a class=" text-nowrap text-white font-weight-600" href="javascript:void(0)">
                            Lihat Butiran
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <div class="row align-items-center clearfix">
                                <div class="col-md-8">
                                    <h5 class="h3 mb-0">Status Tindakan Auditi Terhadap Penemuan Pengauditan dan Naziran
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn btn-outline-dark float-right">
                                        Print
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="container">
                                <div class="row mb-2 ">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option hidden selected>Pilih Tahun</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                                <option>2017</option>
                                                <option>2018</option>
                                                <option>2019</option>
                                                <option>2020</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="chart">
                                    <div class="amchart" id="chartdiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-xl-8">
                    <div class="card" style="height: 650px !important;">
                        <div class="card-header bg-secondary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="h3 mb-0">Maklum Balas Pengguna
                                    </h5>
                                </div>
                            </div>

                        </div>

                        <div class="card-body">


                            <div class=" card-header d-flex align-items-center">
                                <div class=" d-flex align-items-center">
                                    <a href="javascript:void(0)">
                                        <img class=" avatar" src="assets/img/theme/avatar2.png" />
                                    </a>

                                    <div class=" mx-3">
                                        <a class=" text-dark font-weight-600 text-sm" href="javascript:void(0)">
                                            Anom J***n
                                        </a>

                                        <small class=" d-block text-muted"> 3 days ago </small>
                                    </div>
                                </div>

                            </div>

                            <div class=" card-body">
                                <p class=" mb-4">
                                    Ada banyak versi dari mukasurat-mukasurat Lorem Ipsum yang sedia ada, tetapi kebanyakkannya telah diubahsuai, lawak jenaka diselitkan, atau ayat ayat yang di sertakan secara rambang yang lansung tidak munasabah.
                                </p>

                                <div class=" mb-1">
                                    <div class=" media media-comment">
                                        <img alt="Image placeholder"
                                            class=" avatar avatar-lg media-comment-avatar rounded-circle"
                                            src="assets/img/theme/avatar2.png" />

                                        <div class=" media-body">
                                            <div class=" media-comment-text">
                                                <h6 class=" h5 mt-0">Anom M****l</h6>

                                                <p class=" text-sm lh-160">
                                                    Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan kadangkala di sengajakan (seperti selitan lawak jenaka dan sebagainya).
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class=" mb-1">
                                    <div class=" media media-comment">
                                        <img alt="Image placeholder"
                                            class=" avatar avatar-lg media-comment-avatar rounded-circle"
                                            src="assets/img/theme/avatar2.png" />

                                        <div class=" media-body">
                                            <div class=" media-comment-text">
                                                <h6 class=" h5 mt-0">Anom S***w</h6>

                                                <p class=" text-sm lh-160">
                                                    Sejumlah text seragam Lorem Ipsum yang digunakan semenjak 1500an di terbitkan di bawah ini untuk mereka yang berminat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            


                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card" style="height: 650px !important;">
                        <div class="card-header bg-secondary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="h3 mb-0">Notifikasi Terkini</h5>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">

                            <div class=" card-body">
                                <div class=" timeline timeline-one-side" data-timeline-axis-style="dashed"
                                    data-timeline-content="axis">
                                    <div class=" timeline-block">
                                        <span class=" timeline-step badge-success">
                                            <i class=" ni ni-bell-55"> </i>
                                        </span>

                                        <div class=" timeline-content">
                                            <div class=" d-flex justify-content-between pt-1">
                                                <div>
                                                    <span class=" text-muted text-sm font-weight-bold">
                                                        Mesej Baharu
                                                    </span>
                                                </div>

                                                <div class=" text-right">
                                                    <small class=" text-muted">
                                                        <i class=" fas fa-clock mr-1"> </i> 2 hrs ago
                                                    </small>
                                                </div>
                                            </div>

                                            <h6 class=" text-sm mt-1 mb-0">
                                                Sebut Harga JANM Bil.14/2020 : Pembekalan Pelbagai Jenis Toner Untuk
                                                Kegunaan Pencetak Di Ibu Pejabat, Jabatan Akauntan Negara Malaysia
                                                (JANM)
                                            </h6>
                                        </div>
                                    </div>

                                    <div class=" timeline-block">
                                        <span class=" timeline-step badge-danger">
                                            <i class=" ni ni-bell-55"> </i>
                                        </span>

                                        <div class=" timeline-content">
                                            <div class=" d-flex justify-content-between pt-1">
                                                <div>
                                                    <span class=" text-muted text-sm font-weight-bold">
                                                        Isu
                                                    </span>
                                                </div>

                                                <div class=" text-right">
                                                    <small class=" text-muted">
                                                        <i class=" fas fa-clock mr-1"> </i> 3 hrs ago
                                                    </small>
                                                </div>
                                            </div>

                                            <h6 class=" text-sm mt-1 mb-0">

                                                Isu baru telah dilaporkan berkenaan Polisi dan Piawaian Perakaunan.
                                            </h6>
                                        </div>
                                    </div>

                                    <div class=" timeline-block">
                                        <span class=" timeline-step badge-info">
                                            <i class=" ni ni-bell-55"> </i>
                                        </span>

                                        <div class=" timeline-content">
                                            <div class=" d-flex justify-content-between pt-1">
                                                <div>
                                                    <span class=" text-muted text-sm font-weight-bold">
                                                        Mesej Baharu
                                                    </span>
                                                </div>

                                                <div class=" text-right">
                                                    <small class=" text-muted">
                                                        <i class=" fas fa-clock mr-1"> </i> 5 hrs ago
                                                    </small>
                                                </div>
                                            </div>

                                            <h6 class=" text-sm mt-1 mb-0">
                                                Kursus Bulanan JANM Bilangan 5/2020 bertajuk Manfaat Pesara Kerajaan.
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>