<!-- <div class="container-fluid container-header"></div> -->

<div class="header container-header">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Self Assessment Audit (SAA)</h6>

          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-file text-white"> </i> </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-white"> {{"Assessment for "  + agency}}</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container-fluid mt--8">

  <div *ngIf="main" class="card">
    <!-- Card body -->
    <div class="card-body">
      <form style="padding: 20px 20px 20px 30px;">

        <div class="form-group">
          <div class="col-6">
            <label class="form-control-label">Pilih Nama Agensi/Jabatan</label>
            <select class="form-control" [(ngModel)]="agency" [ngModelOptions]="{standalone: true}">
              <option value="PKKP">PKKP</option>
              <option value="Naziran">Naziran</option>
              <option value="LHDN">LHDN</option>
              <option value="iSPLN">iSPLN</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-6">
            <div class="form-group">
              <label class="form-control-label">ID pengguna</label>
              <input type="text" class="form-control" placeholder="Masukkan ID anda">
            </div>
          </div>
        </div>

        <hr>

        <div class="row mt-6">
          <div class="col-md-12 clearfix">
            <button class="btn btn-primary float-right" type="button" (click)="showTable()">
              Next
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="table" class="card mt--2">
    <div class="row container-fluid ">
      <div class="col-xl-12 text-left pl-0 mt-4 mb-2">
        <a class="btn  btn-primary text-white" (click)="goToSAA()">
          <i class="fas fa-plus text-black" aria-hidden="true"></i>&nbsp; Add New Assessment
        </a>
      </div>
    </div>
    <!-- Card body -->
    <div class="row">
      <div class="col-xl-12">
        <div class=" table-responsive mt-2">
          <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
              <tr>
                <th class=" sort" scope="col"><b>Assessment</b></th>

                <th class=" sort" scope="col"><b>Agensi/Jabatan</b></th>

                <th class=" sort" scope="col"><b>Tarikh</b></th>

                <th></th>

                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let survey of surveys">
                <td scope="row">{{survey.name}}</td>
                <td>{{agency}}</td>
                <td>{{survey.date}}</td>
                <td>
                  <div class=" custom-control custom-checkbox mb-3">
                    <input class=" custom-control-input" id="copy" type="checkbox" />
                    <label class=" custom-control-label" for="copy">
                      Copy
                    </label>
                  </div>
                </td>
                <td><a href="javascript:void(0)">
                    <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                  </a>&nbsp;&nbsp;
                  <a href="javascript:void(0)">
                    <span><i class="fa fa-trash text-red" aria-hidden="true"></i></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="saa" class="card">
    <!-- Card header -->
    <div class="card-header">
      <h3 class="mb-0">{{"Self Assessment Audit (SAA) untuk "  + agency}}</h3>
    </div>
    <!-- Card body -->
    <div class="card-body">
      <form style="padding: 20px 20px 20px 30px;">

        <div class="form-group" *ngFor="let row of rows">
          <div class="row">
            <div class="col-6">
              <label class="form-control-label">{{row.question}}</label>
            </div>
            <div class="col-4">
              <div class="row" style="padding-left: 50px !important;">
                <div class="col-4">
                  <div class=" custom-control custom-checkbox mb-3">
                    <input class=" custom-control-input" id="{{row.option1}}" type="checkbox" />

                    <label class=" custom-control-label" for="{{row.option1}}">
                      Ya
                    </label>
                  </div>
                </div>
                <div class="col-4">
                  <div class=" custom-control custom-checkbox mb-3">
                    <input class=" custom-control-input" id="{{row.option2}}" type="checkbox" />

                    <label class=" custom-control-label" for="{{row.option2}}">
                      Tidak
                    </label>
                  </div>
                </div>
                <div class="col-4">
                  <div class=" custom-control custom-checkbox mb-3">
                    <input class=" custom-control-input" id="{{row.option3}}" type="checkbox" />

                    <label class=" custom-control-label" for="{{row.option3}}">
                      Tiada/NA
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row mt-6">
          <div class="col-md-12 clearfix">
            <button class="btn btn-primary float-right" type="button" (click)="goToSulit()">
              Next
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="sulit" class="card">
    <!-- Card header -->
    <div class="card-header">
      <h3 class="mb-0">Terhad/Sulit/Umum</h3>
    </div>
    <!-- Card body -->
    <div class="card-body">
      <form [formGroup]="form" style="padding: 20px 20px 20px 30px;">

        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label class="form-control-label">1. Penghantaran set soalan</label>
            </div>
            <div class="col-6">
              <div class="row" style="padding-left: 50px !important;">
                <div class="col-4">
                  <div class=" custom-control custom-radio mb-3">
                    <input class=" custom-control-input" id="customRadio1" name="custom-radio-1" type="radio" />

                    <label class=" custom-control-label" for="customRadio1">
                      Bulanan
                    </label>
                  </div>
                </div>
                <div class="col-4">
                  <div class=" custom-control custom-radio mb-3">
                    <input class=" custom-control-input" id="customRadio2" name="custom-radio-1" type="radio" />

                    <label class=" custom-control-label" for="customRadio2">
                      Sukuan
                    </label>
                  </div>
                </div>
                <div class="col-4">
                  <div class=" custom-control custom-radio mb-3">
                    <input class=" custom-control-input" id="customRadio3" name="custom-radio-1" type="radio" />

                    <label class=" custom-control-label" for="customRadio3">
                      Lain-lain
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label class="form-control-label">2. Penentuan Isu</label>
            </div>
            <div class="col-6">
              <div class="row" style="padding-left: 50px !important;">
                <div class="col-4">
                  <div class=" custom-control custom-radio mb-3">
                    <input class=" custom-control-input" id="customRadio4" name="custom-radio-2" type="radio" />

                    <label class=" custom-control-label" for="customRadio4">
                      Berisiko tinggi
                    </label>
                  </div>
                </div>
                <div class="col-4">
                  <div class=" custom-control custom-radio mb-3">
                    <input class=" custom-control-input" id="customRadio5" name="custom-radio-2" type="radio" />

                    <label class=" custom-control-label" for="customRadio5">
                      Isu berulang
                    </label>
                  </div>
                </div>
                <div class="col-4">
                  <div class=" custom-control custom-radio mb-3">
                    <input class=" custom-control-input" id="customRadio6" name="custom-radio-2" type="radio" />

                    <label class=" custom-control-label" for="customRadio6">
                      Lain-lain
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" form-group">
          <div class="col-6 pl-0">
            <label class=" form-control-label">
              3. Maklum balas
            </label>
            <textarea class=" form-control" placeholder="Komen di sini" rows="5"></textarea>
          </div>
        </div>

        <div class=" form-group">
          <div class="col-6 pl-0">
            <label class="form-control-label">4. Pemarkahan (%)</label>
            <input type="text" class="form-control" placeholder="masukkan markah">
          </div>
        </div>

        <div class=" form-group">
          <div class="col-6 pl-0">
            <label class="form-control-label">5. Rating: {{form.value.rating1}}</label>
            <div class="cont clearfix">
              <div class="stars float-left">
                <ngx-star-rating formControlName="rating1" [id]="'rating'"></ngx-star-rating>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row mt-6">
          <div class="col-md-12 clearfix">
            <button class="btn btn-primary " type="button" (click)="goToPrevious()">
              Back
            </button>
            <button class="btn btn-success float-right" type="button" (click)="confirm()">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>