<div class="header container-header">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Maklum Balas</h6>

          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-bullhorn text-white"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--9 " *ngIf="main">
  <div class="row">
    <div class="col-md-12 d-inline-block ">
      <h2 class="h2 text-white text-center mb-0">
        Bagaimanakah Kami boleh membantu anda</h2>
      <p class="text-white text-center">Cari di pangkalan pusat sokongan kami</p>
    </div>
  </div>
  <div class="row mt-2 align-items-center">
    <div class="col-md-12 col-xs-3" style="padding: 0px 200px 0px 200px !important ;">
      <div class="input-group input-group-alternative input-group-merge input-search">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input class="form-control" placeholder="Search" type="text" (focus)="focus = true" (blur)="focus = false" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid body-header" *ngIf="main"></div>

<div class="container mt--8" *ngIf="main">
  <div class="row ">
    <div class="col-md-4 d-inline-block">
      <div class="card">
        <div class="card-body rounded">
          <div class="icon-box">
            <img class="icon" [src]="img1" (click)="openTicketRequest()"/><br><br>
            <h4 class="h4" (click)="openTicketRequest()" style="cursor: default;">Permintaan Tiket Baharu</h4>
            <p class="">Hantar tiket sokongan baru</p>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4 d-inline-block">
      <div class="card">
        <div class="card-body rounded">
          <div class="icon-box">
            <a href="javascript:void(0)"><img class="icon" [src]="img2" /></a><br><br>
            <h4 class="h4">Artikel</h4>
            <p class="">Cari jawapan untuk soalan anda</p>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4  d-inline-block ">
      <div class="card">
        <div class="card-body rounded">
          <div class="icon-box">
            <a href="javascript:void(0)"><img class="icon" [src]="img3" /></a><br><br>
            <h4 class="h4">Tiket</h4>
            <p class="">
              Urus dan akses tiket sokongan anda</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--8" *ngIf="ticketRequest">
  <div class="card">

    <div class="card-header bg-gradient-info">
      <img class="icon" [src]="img1" />&nbsp;&nbsp;
      <h4 class="modal-title text-white my-auto">Permintaan Tiket Baharu</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
    </div>

    <div class="card-body">

      <div class=" form-group">
        <div class="col-12 pl-0">
          <label class="form-control-label">1. Nama Pegawai</label>
          <input type="text" class="form-control" placeholder="masukkan name">
        </div>
      </div>

      <div class=" form-group">
        <div class="col-12 pl-0">
          <label class="form-control-label">2. ID Pegawai</label>
          <input type="text" class="form-control" placeholder="masukkan ID">
        </div>
      </div>

      <div class=" form-group">
        <div class="col-12 pl-0">
          <label class="form-control-label">3. Jabatan</label>
          <input type="text" class="form-control" placeholder="masukkan jabatan">
        </div>
      </div>

      <div class=" form-group">
        <div class="col-12 pl-0">
          <label class="form-control-label">4. Email</label>
          <input type="text" class="form-control" placeholder="masukkan email">
        </div>
      </div>

      <div class=" form-group">
        <div class="col-12 pl-0">
          <label class=" form-control-label">
            4. Mesej/Isu
          </label>
          <textarea class=" form-control" placeholder="Komen di sini" rows="5"></textarea>
        </div>
      </div>

    </div>

    <div class="row-xl-12 modal-footer">
      <button class="btn btn-primary " type="button" (click)="back()">
        Back
      </button>
      <button class="btn btn-success ml-auto" type="button" (click)="confirm()">
        Create
      </button>
    </div>
  </div>

</div>



<!-- <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      
      <div class="modal-header bg-gradient-info">
        <img class="icon" [src]="img1" />&nbsp;&nbsp;
        <h4 class="modal-title text-white my-auto">Permintaan Tiket Baharu</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
      </div>

    
      <div class="modal-body">

        <div class=" form-group">
          <div class="col-12 pl-0">
            <label class="form-control-label">1. Nama Pegawai</label>
            <input type="text" class="form-control" placeholder="masukkan name">
          </div>
        </div>

        <div class=" form-group">
          <div class="col-12 pl-0">
            <label class="form-control-label">2. ID Pegawai</label>
            <input type="text" class="form-control" placeholder="masukkan ID">
          </div>
        </div>

        <div class=" form-group">
          <div class="col-12 pl-0">
            <label class="form-control-label">3. Jabatan</label>
            <input type="text" class="form-control" placeholder="masukkan jabatan">
          </div>
        </div>

        <div class=" form-group">
          <div class="col-12 pl-0">
            <label class="form-control-label">4. Email</label>
            <input type="text" class="form-control" placeholder="masukkan email">
          </div>
        </div>

        <div class=" form-group">
          <div class="col-12 pl-0">
            <label class=" form-control-label">
              4. Mesej/Isu
            </label>
            <textarea class=" form-control" placeholder="Komen di sini" rows="5"></textarea>
          </div>
        </div>

      </div>

  
      <div class="row-xl-12 modal-footer">
        <button class="btn btn-primary" type="button" (click)="confirm()">
          Create
        </button>
        <button class="btn btn-outline-danger ml-auto" data-dismiss="modal" type="button" (click)="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div> -->