.navbar, .nav-link{
    background-color: #25303C !important;
}

a{
    color: white !important;
}

.active{
    background-color: #1A2C40 !important;
    // border-bottom: solid 1px white;
}

.sidenav-toggler-line{
    background-color: white !important;
}

